@charset "utf-8"; 

/* html, body, div.wrap {height:100%} */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,button,pre {font-size:inherit; font-weight:normal; box-sizing:border-box; margin:0; padding:0; word-break:keep-all;}
body {background:#fff; direction:ltr; -webkit-text-size-adjust:none;}
body,th,td,input,select,textarea,button,pre {font-family:"Noto Sans KR", sans-serif, 'malgun Gothic', Dotum, Gulim, Helvetica, sans-serif; font-weight:normal; line-height:1.5; color:#000; -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale;}
address,caption,cite,code,dfn,em,var,i {font-weight:400; font-style:normal;}
button {font-family:'Noto Sans KR', Dotum, Gulim, Helvetica, sans-serif; font-weight:400; cursor:pointer; border:0 none; background-color:transparent;}
pre {white-space:pre-wrap; white-space:-moz-pre-wrap; white-space:-pre-wrap; white-space:-o-pre-wrap; word-break:break-all;}
fieldset,img {border:0 none;}
img {vertical-align:top;}
dl,ul,ol,menu,li {list-style:none;}
blockquote,q {quotes:none;}
blockquote:before,blockquote:after,q:before,q:after {content:''; content:none;}
iframe {display:block;}

a {text-decoration:none; color:#000;}
a:hover {text-decoration:none;}
a:active {text-decoration:none;}
legend {display:block; overflow:hidden; font-size:medium; line-height:normal; width:0; height:0; word-break:break-all; opacity:0; filter:alpha(opacity=0); -ms-filter:'progid:DXImageTransform.Microsoft.Alpha(opacity=0)';}
label {cursor:pointer;}
input[type="file"] {width:100%; background:none; border:none;}
input[type='text'],input[type='password'],input[type='search'],input[type='date'] {-webkit-text-fill-color:#000; -ms-text-fill-color:#000;}
input,select,textarea,button {vertical-align:middle; -webkit-appearance: none; -webkit-border-radius: 0; outline: none;}
input::-ms-clear, hr {display:none;}
::-webkit-input-placeholder {color:#bbb; -webkit-text-fill-color:#bbb;}
::-moz-input-placeholder {color:#bbb; -moz-text-fill-color:#bbb;}
:-ms-input-placeholder {color:#bbb; -ms-text-fill-color:#bbb;}
:-moz-input-placeholder {color:#bbb; -moz-text-fill-color:#bbb;}
select::-ms-expand {display:none; }

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/noto-sans-kr-v12-latin_korean-regular.eot'); /* IE9 Compat Modes */
  src: local('../fonts/Noto Sans KR Regular'), local('../fonts/NotoSansKR-Regular'),
       url('../fonts/noto-sans-kr-v12-latin_korean-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/noto-sans-kr-v12-latin_korean-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/noto-sans-kr-v12-latin_korean-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/noto-sans-kr-v12-latin_korean-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/noto-sans-kr-v12-latin_korean-regular.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
/* noto-sans-kr-900 - latin_korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/noto-sans-kr-v12-latin_korean-900.eot'); /* IE9 Compat Modes */
  src: local('../fonts/Noto Sans KR Black'), local('../fonts/NotoSansKR-Black'),
       url('../fonts/noto-sans-kr-v12-latin_korean-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/noto-sans-kr-v12-latin_korean-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/noto-sans-kr-v12-latin_korean-900.woff') format('woff'), /* Modern Browsers */
       url('../fonts/noto-sans-kr-v12-latin_korean-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/noto-sans-kr-v12-latin_korean-900.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
/* noto-sans-kr-700 - latin_korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/noto-sans-kr-v12-latin_korean-700.eot'); /* IE9 Compat Modes */
  src: local('../fonts/Noto Sans KR Bold'), local('../fonts/NotoSansKR-Bold'),
       url('../fonts/noto-sans-kr-v12-latin_korean-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/noto-sans-kr-v12-latin_korean-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/noto-sans-kr-v12-latin_korean-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/noto-sans-kr-v12-latin_korean-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/noto-sans-kr-v12-latin_korean-700.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}



div.wrap_photoEditor {position:relative;}
div.sidebar{position:fixed; left:0; top:0; bottom:0; width:94px; border-right:1px solid #dedede;}
div.toolBar{}
div.item_tool {width:100%; border-bottom:1px solid #dedede; padding:16px 0; text-align:center; cursor:pointer;}
div.item_tool span.itemIcon {display:inline-block; width:25px; height:20px; background:#000;}
div.item_tool span.itemName {margin:5px 0 0 0; display:block;}
div.item_tool:hover {background:#f9f9f9;}
div.item_tool.active {background:#226bff; color:#fff;}






