@charset "utf-8"; 

/* html, body, div.wrap {height:100%} */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,button,pre {font-size:inherit; font-weight:normal; box-sizing:border-box; margin:0; padding:0; word-break:keep-all;}
body {background:#fff; direction:ltr; -webkit-text-size-adjust:none;}
body,th,td,input,select,textarea,button,pre {font-family:"Noto Sans KR", sans-serif, 'malgun Gothic', Dotum, Gulim, Helvetica, sans-serif; font-weight:normal; line-height:1.5; color:#000; -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale;}
address,caption,cite,code,dfn,em,var,i {font-weight:400; font-style:normal;}
button {font-family:'Noto Sans KR', Dotum, Gulim, Helvetica, sans-serif; font-weight:400; cursor:pointer; border:0 none; background-color:transparent;}
pre {white-space:pre-wrap; white-space:-moz-pre-wrap; white-space:-pre-wrap; white-space:-o-pre-wrap; word-break:break-all;}
fieldset,img {border:0 none;}
img {vertical-align:top;}
dl,ul,ol,menu,li {list-style:none;}
blockquote,q {quotes:none;}
blockquote:before,blockquote:after,q:before,q:after {content:''; content:none;}
iframe {display:block;}

a {text-decoration:none; color:#000;}
a:hover {text-decoration:none;}
a:active {text-decoration:none;}
legend {display:block; overflow:hidden; font-size:medium; line-height:normal; width:0; height:0; word-break:break-all; opacity:0; filter:alpha(opacity=0); -ms-filter:'progid:DXImageTransform.Microsoft.Alpha(opacity=0)';}
label {cursor:pointer;}
input[type="file"] {width:100%; background:none; border:none;}
input[type='text'],input[type='password'],input[type='search'],input[type='date'] {-webkit-text-fill-color:#000; -ms-text-fill-color:#000; border:1px solid #ccc;}
input,select,textarea,button {vertical-align:middle; -webkit-appearance: none; -webkit-border-radius: 0; outline: none;}
input::-ms-clear, hr {display:none;}
::-webkit-input-placeholder {color:#bbb; -webkit-text-fill-color:#bbb;}
::-moz-input-placeholder {color:#bbb; -moz-text-fill-color:#bbb;}
:-ms-input-placeholder {color:#bbb; -ms-text-fill-color:#bbb;}
:-moz-input-placeholder {color:#bbb; -moz-text-fill-color:#bbb;}
select::-ms-expand {display:none; }

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/noto-sans-kr-v12-latin_korean-regular.eot'); /* IE9 Compat Modes */
  src: local('../fonts/Noto Sans KR Regular'), local('../fonts/NotoSansKR-Regular'),
       url('../fonts/noto-sans-kr-v12-latin_korean-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/noto-sans-kr-v12-latin_korean-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/noto-sans-kr-v12-latin_korean-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/noto-sans-kr-v12-latin_korean-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/noto-sans-kr-v12-latin_korean-regular.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
/* noto-sans-kr-900 - latin_korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/noto-sans-kr-v12-latin_korean-900.eot'); /* IE9 Compat Modes */
  src: local('../fonts/Noto Sans KR Black'), local('../fonts/NotoSansKR-Black'),
       url('../fonts/noto-sans-kr-v12-latin_korean-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/noto-sans-kr-v12-latin_korean-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/noto-sans-kr-v12-latin_korean-900.woff') format('woff'), /* Modern Browsers */
       url('../fonts/noto-sans-kr-v12-latin_korean-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/noto-sans-kr-v12-latin_korean-900.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
/* noto-sans-kr-700 - latin_korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/noto-sans-kr-v12-latin_korean-700.eot'); /* IE9 Compat Modes */
  src: local('../fonts/Noto Sans KR Bold'), local('../fonts/NotoSansKR-Bold'),
       url('../fonts/noto-sans-kr-v12-latin_korean-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/noto-sans-kr-v12-latin_korean-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/noto-sans-kr-v12-latin_korean-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/noto-sans-kr-v12-latin_korean-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/noto-sans-kr-v12-latin_korean-700.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}

.mg_t10 {margin-top:10px;}
.mg_t25 {margin-top:25px;}
.mg_t30 {margin-top:30px;}
.mg_t40 {margin-top:40px;}

.mg_l10 {margin-left:10px;}

.mg_r10 {margin-right:10px;}

.w160 {width:160px;}
.w100p {width:100%;}

div.wrap_photoEditor {position:relative;}
div.sidebar{position:fixed; width:94px; left:0; top:0; bottom:0; border-right:1px solid #dedede; background:#fff; z-index:100;}
div.item_tool {width:100%; border-bottom:1px solid #dedede; padding:16px 0; text-align:center; cursor:pointer;}
div.item_tool span.itemIcon {display:inline-block; width:23px; height:21px; background: url(../img/photoEditor_sprite.png) no-repeat;}
div.item_tool span.itemName {margin:5px 0 0 0; display:block;}
div.item_tool:hover {background:#f9f9f9;}
div.item_tool.active {background:#226bff;}
div.item_tool.active span.itemName{color:#fff;}

span.itemIcon.template{background-position:0 -23px !important;}
span.itemIcon.photo{background-position:-33px -23px  !important;}
span.itemIcon.sticker{background-position:-67px -23px !important;}
span.itemIcon.typeTxt{background-position:-100px -23px !important;}

div.item_tool.active span.template{background-position:0 -53px !important;}
div.item_tool.active span.photo{background-position:-33px -53px  !important;}
div.item_tool.active span.sticker{background-position:-67px -53px !important;}
div.item_tool.active span.typeTxt{background-position:-100px -53px !important;}

div.toolLibrary {position:fixed; width:260px; top:0; left:94px; bottom:0; border-right:1px solid #dedede; background:#fff; z-index:100;}
div.library_ctrl {padding:16px 10px 10px; border-bottom:1px solid #dedede;}
span.tool_titBox {font-size:18px;}
ul.categPopularity {margin-bottom:10px;}
ul.categPopularity li {display:inline-block; font-size:13px; color:#8e8e8e;margin-right:15px;}
ul.categPopularity li:last-child {margin-right:0;}

div.input_searchBox {position:relative;}
div.input_searchBox input {width:100%; border-radius:5px; height:36px; padding:0 32px; font-size:14px;}
div.input_searchBox input:focus {border:1px solid #696969;}
div.input_searchBox:before {content:""; display:inline-block; width:16px; height:16px; background:url(../img/photoEditor_sprite.png) no-repeat 0 0; position:absolute; top:10px; left:10px; }
div.input_searchBox button.text_del {display:inline-block;width: 25px;height: 25px;background: url(../img/photoEditor_sprite.png) no-repeat -21px 8px;position:absolute;right: 8px;top: 6px; border-radius:12.5px;}
div.input_searchBox button.text_del:hover {background-color:#efefef;}
div.input_searchBox button.text_del:active {background-color:#ccc;}


div.layerSelect {position:absolute; top:37px; left:0; width:100%; height:204px; overflow-y:auto; border-radius:5px; z-index:100; background:#fff;  -webkit-box-shadow:0 2px 12px rgba(14,19,24,.2); -moz-box-shadow: 0 2px 12px rgba(14,19,24,.2); box-shadow: 0 2px 12px rgba(14,19,24,.2);}
div.layerSelect ul li {line-height:30px; color:#6c6c6c; font-size:14px; margin-left:10px; padding:0 0 0 10px; border-radius:5px 0 0 5px; cursor:pointer;}
div.layerSelect ul li:hover {background:#e6f7ff;}
div.layerSelect ul li:active {background:#d9f3ff;}
div.layerSelect ul li.on {background:#226bff; color:#fff;}

div.editSection {position:fixed; top:0; left:354px; right:0; bottom:50px; text-align:center; min-width:468px; background:#f7f7f7;}
div.editCanvas {width:292px; height:433px; -webkit-box-shadow:0 2px 12px rgba(14,19,24,.2); -moz-box-shadow: 0 2px 12px rgba(14,19,24,.2); box-shadow: 0 2px 12px rgba(14,19,24,.2); background:#fff;} 
div.editCanvas img {max-width:500px; max-height:350px; }
div.canvasArea {position:relative; display:inline-block; margin-top:60px;}
div.canvasSizeValue {display:inline-block; position:absolute; top:-26px; left:0; color:#8e8e8e; font-size:13px;}


/* button style */
.btn_sizeA {height:36px; line-height:36px; text-align:center; border-radius:5px; font-size:14px;}

.btn_gray {background:#555b69; color:#fff;}
.btn_gray:hover {background:#424752;}
.btn_gray:active {background:#343842;}

.btn_blue {background:#226bff; color:#fff;}
.btn_blue:hover {background:#1b5de4;}
.btn_blue:active {background:#1552d0;}

.btn_white {background:#fff; color:#2a2a2a;}
.btn_white:hover {background:#e6f7ff;}

.disabled{background:#f7f7f7 !important; color:#999 !important; cursor:default !important;}
.disabled i[class^="icon_"]{opacity:0.5;}

/* icon style */
[class^="icon_"] {display:inline-block;  background: url(../img/photoEditor_sprite.png);}
.icon_upload {width:13px; height:16px; background-position:-67px 0;}
.icon_del {position:relative; top:3px; width:16px; height:16px; background-position:0 -81px;}
.icon_prev {position:relative; top:3px; width:16px; height:16px; background-position:-20px -81px;}
.icon_next {position:relative; top:3px; width:16px; height:16px; background-position:-38px -81px;}
.icon_reset {position:relative; top:3px; width:16px; height:16px; background-position:-60px -81px;}

div.library_list {overflow-y:auto; position:fixed; bottom:0; width:260px; text-align:center;}
div.library_list.typeA {top:195px;}
div.library_list.typeB {top:149px;}
div.library_list.typeC {top:161px;}
div.library_list div.listBox {display:inline-block; width:230px;}
div.library_list ul {font-size:0; text-align:left;}
div.library_list ul li {display:inline-block; width:70px; height:104px; overflow:hidden; background:#ccc; margin:10px 10px 0 0; cursor:pointer;}
div.library_list ul li:nth-child(3n) {margin-right:0;}
div.library_list ul li:hover {border:1px solid #2a2a2a;}
div.library_list ul li img {width:100%; height:auto;}
div.noneList {width:100%; line-height:200px; font-size:15px; text-align:center; color:#a7a7a7;}

div.canvasEditbar {position:fixed; width:100%; min-width:820px; bottom:0; right:0; height:50px; border-top:1px solid #dedede;}
div.canvasEditbar ul  {text-align:right; background:#fff; font-size:0;}
div.canvasEditbar ul li{display:inline-block; border-left:1px solid #dedede;}
div.canvasEditbar ul li button{padding:0 20px; line-height:50px; font-size:15px;}

